<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your Daily Subreddit</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="animate.min.css">
</head>
<body>

      <h1 class="h1">Your Daily Subreddit</h1>
      
      <div class="box">
        <form method="post" action='/results'>
          <input type="text" name="subreddit" id="searchbox" placeholder="Search Subreddit!" size="30"/>
          <button type="submit">Search</button>
        </form>
      </div>
      
     <div id="refresh">
    <FORM>
    <INPUT TYPE="button" onClick="history.go(0)" VALUE="Refresh">
    </FORM>
    </div>

 <p class="ever"><%= @doc.random_sub_article %></p>
<a href="<%= @doc.r_sub_link %>">
  <p class="link"><%= @doc.r_sub_link %></p>
</a>


</body>
</html>